{% extends 'base.html.twig' %}

{% block main %}
        {{ form_start (participantForm)}}

        {{ form_widget(participantForm) }}

        <div class="form-button">
            <button type="submit" class="btn btn-primary">Valider</button>
            <button type="reset" class="btn btn-secondary">Effacer</button>
        </div>

        {{ form_end (participantForm) }}
{% endblock %}

{% block title %}{{ parent() }} | Accueil{% endblock %}