{% extends 'base.html.twig' %}

{% block main %}
    <h2>Création sortie</h2>

    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}

    <div class="form-button">
        <button type="submit" class="btn btn-primary">Valider</button>
        <button type="reset" class="btn btn-secondary">Effacer</button>
    </div>
    {{ form_end(sortieForm) }}
{% endblock %}