{% extends 'base.html.twig' %}

{% block main %}
    <h1>{{  sortie.nom }}</h1>

    <div class="sortie-list">
        <ul>
            {% for participant in participants %}
                <li>{{ participant.prenom }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}