{% extends 'base.html.twig' %}

{% block main %}
    <h1>Hola</h1>

    <div class="sortie-list">
        <ul>
            {% for sortie in sorties %}
                <li>{{ sortie.nom }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}