{% extends 'base.html.twig' %}


{% block main %}
    {{ form_start(csvForm) }}

    <div class="form-button">
        <button type="submit" class="btn btn-primary" >Valider</button>
    </div>
    {{ form_end(csvForm) }}
{% endblock %}