{% extends 'base.html.twig' %}

{% block main %}
    <h1>Créer le compte du participant</h1>

    {{ form(form) }}
{% endblock %}

{% block title %}{{ parent() }} | Cr&eacute;er participant{% endblock %}